<div class="contenedor">
  <button *ngIf="validarVista('VENTAS')" mat-raised-button color="primary" (click)="newMenu='VENTAS'">VENTAS</button>
  <br *ngIf="validarVista('VENTAS')">
  <button *ngIf="validarVista('LIBROS')" mat-raised-button color="primary" (click)="newMenu='LIBROS'">LIBROS</button>
  <br *ngIf="validarVista('LIBROS')">
  <span *ngIf="newMenu != ''" class="volver" (click)="newMenu=''">Volver</span>
</div>
<div [ngSwitch]="newMenu"> 
  <p *ngSwitchCase="'VENTAS'"></p>
  <p *ngSwitchCase="'LIBROS'"></p>
  <p *ngSwitchDefault></p>
</div>

<div [ngSwitch]="newMenu">
  <ng-template [ngSwitchCase]="'VENTAS'">
    <ng-container *ngTemplateOutlet="menuVentas"></ng-container> 
  </ng-template>
  <ng-template [ngSwitchCase]="'LIBROS'">
    <ng-container *ngTemplateOutlet="menuLibros"></ng-container>
  </ng-template>
 
  <ng-template [ngSwitchDefault]>
    <ng-container *ngTemplateOutlet="menuDefault"></ng-container>
  </ng-template>
</div>
<ng-template #menuLibros>
  <table mat-table [dataSource]="datosLibros" class="mat-elevation-z8" #tabla2>
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef> Codigo </th>
      <td mat-cell *matCellDef="let libro"> {{libro.codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let libro"> {{libro.titulo}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let libro"> {{libro.descripcion}} </td>
    </ng-container>
    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let libro"> {{libro.autor}} </td>
    </ng-container>
    <ng-container matColumnDef="fecha_publicacion">
      <th mat-header-cell *matHeaderCellDef> Fecha publicacion </th>
      <td mat-cell *matCellDef="let libro"> {{libro.fecha_publicacion | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef> Borra? </th>
      <td mat-cell *matCellDef="let libro">
        <button mat-raised-button color="warn" focusable="false" (click)="borrarLibro(libro.id)">
          Borra?
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="seleccionar">
      <th mat-header-cell *matHeaderCellDef> Seleccionar </th>
      <td mat-cell *matCellDef="let libro">
        <button mat-raised-button color="accent" focusable="false" (click)="seleccionarLibro(libro)">
          Seleccionar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasLibro"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasLibro;"></tr>
  </table>
  <div class="contenedor">
    <input type="hidden" [(ngModel)]="libroselect.id" name="id">
    
    <mat-form-field>
      <input matInput [(ngModel)]="libroselect.codigo" type="text" placeholder="Ingrese codigo del libro">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="libroselect.titulo" type="text" placeholder="Ingrese titulo del libro">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="libroselect.descripcion" type="text" placeholder="Ingrese descripcion del libro">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput [(ngModel)]="libroselect.autor" type="text" placeholder="Ingrese autor del libro">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="libroselect.fecha_publicacion" type="date" placeholder="Ingrese fecha publicacion del libro">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="guardarLibro()">Guardar</button>

  </div>
  <div class="contenedor">
    <button mat-raised-button color="primary" (click)="exportToPdfLibro()">Exportar a Pdf</button>
  </div>
</ng-template>
<ng-template #menuVentas>
  <table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let venta"> {{venta.cliente}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let venta"> {{venta.total}} </td>
    </ng-container>

    <ng-container matColumnDef="factura">
      <th mat-header-cell *matHeaderCellDef> Factura </th>
      <td mat-cell *matCellDef="let venta"> {{venta.factura}} </td>
    </ng-container>

    <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef> Borra? </th>
      <td mat-cell *matCellDef="let venta">
        <button mat-raised-button color="warn" focusable="false" (click)="borrarVenta(venta.id)">
          Borra?
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="seleccionar">
      <th mat-header-cell *matHeaderCellDef> Seleccionar </th>
      <td mat-cell *matCellDef="let venta">
        <button mat-raised-button color="accent" focusable="false" (click)="seleccionar(venta)">
          Seleccionar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
  <div class="contenedor">
    <input type="hidden" [(ngModel)]="ventaselect.id" name="id">
    
    <mat-form-field>
      <input matInput [(ngModel)]="ventaselect.cliente" type="text" placeholder="Ingrese nombre del cliente">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="ventaselect.total" type="number" placeholder="Ingrese total">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="ventaselect.factura" type="text" placeholder="Ingrese número de factura">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>

  </div>
  <div class="contenedor">
    <button mat-raised-button color="primary" (click)="exportToPdf()">Exportar a Pdf</button>
  </div>
</ng-template>  
<ng-template #menuDefault>
  <div class="contenedor headercontainer">
    <span class="tituloinicio">Examen Final Electiva 4 - 2023</span>
  </div>
</ng-template>
