/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url(./assets/img/imges3.png);}
.volver {
    text-align: right;
    cursor: pointer;
    font-size: 12px;
    margin-right: 5px;
}
.tituloinicio {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.headercontainer {
   
}
